<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FunFacts.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BEF761A31C06DB0500A17E10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEF761BC1C06DB0600A17E10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEF761C71C06DB0600A17E10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
